.loaded {
    margin-top: 10px; 
    width: 100%;
}

.spinner {
    margin: 0 auto;
}

.card {
    margin-top: 10px;
}

.parking-detail {
    margin-bottom: 5px; 
    margin-left: 10px; 
    margin-right: 10px;
}

.italic {
    font-style: italic;
}

.icon {
    display: flex; 
    justify-content: center;
}