<mat-spinner style="margin: 0 auto;" color="accent" diameter="30" *ngIf="!isLoaded"></mat-spinner>

<mat-card *ngFor="let parking of parkings" class="parking-card" [routerLink]="['/parking', parking.identifiant]" >
    <div>
        <span class="fontWeightBold">Parking {{parking.nom}}</span>
        <span class="floatRight" [ngStyle]="calculStyleStatut(parking)">{{parking.statut}}</span><br>
        <span *ngIf="parking.statut !=='Données non disponibles'">Places disponibles : {{parking.nbPlacesDispo}}</span>
    </div>
</mat-card>

